*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Alata', sans-serif;
  font-size: 1.5rem;
  color: dimgray;
  line-height: 1.7;
  font-weight: 400;
  min-height: 100vh;
}

h1,
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
}

.btn {
  white-space: nowrap;
  text-transform: uppercase;
  padding: 1rem 4rem;
  letter-spacing: 2px;
  font-family: 'Alata', sans-serif;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.icon-container {
  border-bottom: 2px solid #000;
  cursor: pointer;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.icon-container:hover {
  border-bottom: 2px solid #fff;
}

.icon-container .icon {
  width: 2.5rem;
  height: 2.5rem;
}

.creations {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  position: relative;
  margin-bottom: 10rem;
}

.creations .btn {
  position: absolute;
  bottom: -8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.creations__header {
  text-align: center;
}

.creations__heading {
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
}

.creations-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
  gap: 2rem;
}

.creations-container .creation {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.creations-container .creation::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
  position: absolute;
  opacity: 0.6;
}

.creations-container .creation:hover .text {
  color: #000;
}

.creations-container .creation:hover::before {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.655)), to(rgba(255, 255, 255, 0.655)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.655), rgba(255, 255, 255, 0.655));
}

.creations-container .creation:hover .image {
  opacity: 0.2;
}

.creations-container .image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}

.creations-container .text {
  position: absolute;
  bottom: 1.8rem;
  left: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .creations .btn {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .creations__header {
    width: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .creations-container {
    max-width: 1120px;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .creations-container .creation {
    height: 45rem;
    height: 100%;
  }
  .creations-container .creation::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    position: absolute;
    opacity: 0.7;
  }
  .creations-container .creation .image {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=styles.css.map */