$white-color: #fff;
$black-color: #000;
$dark-grey: #8c8c8c;
$very-dark-grey: hsl(0, 0%, 41%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Alata', sans-serif;
  font-size: 1.5rem;
  color: $very-dark-grey;
  line-height: 1.7;
  font-weight: 400;

  min-height: 100vh;
}

h1,
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
}

.btn {
  white-space: nowrap;
  text-transform: uppercase;
  padding: 1rem 4rem;
  letter-spacing: 2px;
  font-family: 'Alata', sans-serif;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  border: 2px solid $black-color;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: $black-color;
    color: $white-color;
  }
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icon-container {
  border-bottom: 2px solid $black-color;
  cursor: pointer;
  transition: border 0.2s;
  &:hover {
    border-bottom: 2px solid $white-color;
  }
  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.creations {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
  margin-bottom: 10rem;
  .btn {
    position: absolute;
    bottom: -8rem;
    left: 50%;
    transform: translateX(-50%);
  }
  &__header {
    text-align: center;
  }
  &__heading {
    color: $black-color;
    text-transform: uppercase;

    font-weight: 400;
    line-height: 1.1;
    text-align: center;
  }
}
.creations-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
  gap: 2rem;
  .creation {
    width: 100%;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
      position: absolute;
      opacity: 0.6;
    }
    &:hover .text {
      color: $black-color;
    }
    &:hover::before {
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.655),
        rgba(255, 255, 255, 0.655)
      );
    }
    &:hover .image {
      opacity: 0.2;
    }
  }

  .image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  .text {
    position: absolute;
    bottom: 1.8rem;
    left: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    color: $white-color;
    display: flex;
    flex-direction: column;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .creations {
    .btn {
      position: static;
      transform: translateX(0);
    }
    &__header {
      width: 100%;
      align-self: flex-start;
      display: flex;
      align-items: center;

      justify-content: space-between;
      // justify-content: ;
    }
  }
  .creations-container {
    max-width: 1120px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);

    .creation {
      height: 45rem;
      height: 100%;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
        position: absolute;
        opacity: 0.7;
      }
      .image {
        object-fit: cover;
      }
    }
  }
}

.vr {
  max-width: 1120px;
  display: grid;
  margin: 0 auto;
  place-items: center;
  grid-template-columns: 1fr;
  padding: 2rem;
  gap: 5rem;
  &__head {
    width: 100%;
    .image {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &__body {
    text-align: center;
    padding: 1rem;
  }
  &__heading {
    text-transform: uppercase;
    line-height: 1;
    color: $black-color;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 3.2rem;
  }
  &__text {
    line-height: 1.8;
  }
}

@media screen and (min-width: 992px) {
  .vr {
    grid-template-columns: minmax(200px, 600px) 1fr;
    position: relative;
    &__body {
      align-self: end;
      text-align: left;
      padding: 6rem;
      padding-bottom: 0;

      position: absolute;
      right: 30%;

      transform: translateX(50%);
      margin-bottom: 2rem;
      background-color: $white-color;
    }
    &__heading {
      max-width: 20ch;

      letter-spacing: 2px;
      font-size: 4rem;
      font-weight: 400;
    }
    &__text {
      max-width: 45ch;
    }
  }
}
