<section class="creations">
  <header class="creations__header">
    <h2 class="creations__heading">our creations</h2>
    <button class="btn">see all</button>
  </header>

  <div class="creations-container">
    <article class="creation">
      <picture>
        <source media="(min-width: 768px)" srcset="images/desktop/image-deep-earth.jpg">
        <img class="image" src="./images/mobile/image-deep-earth.jpg" alt="image of deep earth">
      </picture>
      <div class="text">
        <span class="creation__title">Deep</span>
        <span class="creation__title">Earth</span>
      </div>
    </article>
    <article class="creation">
      <picture>
        <source media="(min-width: 768px)" srcset="images/desktop/image-night-arcade.jpg">
        <img class="image" src="./images/mobile/image-night-arcade.jpg" alt="image of night arcade">
      </picture>

      <div class="text">
        <span class="creation__title">Night</span>
        <span class="creation__title">Arcade</span>
      </div>
    </article>
    <article class="creation">
      <picture>
        <source media="(min-width: 768px)" srcset="images/desktop/image-soccer-team.jpg">
        <img class="image" src="./images/mobile/image-soccer-team.jpg" alt="image of soccer team">
      </picture>

      <div class="text">
        <span class="creation__title">soccer</span>
        <span class="creation__title">team vr</span>
      </div>
    </article>
    <article class="creation">
      <picture>
        <source media="(min-width: 768px)" srcset="images/desktop/image-grid.jpg">
        <img class="image" src="./images/mobile/image-grid.jpg" alt="image of grid">
      </picture>

      <div class="text">
        <span class="creation__title">the</span>
        <span class="creation__title">grid</span>
      </div>
    </article>
    <article class="creation">
      <picture>
        <source media="(min-width: 768px)" srcset="images/desktop/image-from-above.jpg">
        <img class="image" src="./images/mobile/image-from-above.jpg" alt="image from above">
      </picture>

      <div class="text">
        <span class="creation__title">from up</span>
        <span class="creation__title">above vr</span>
      </div>
    </article>
    <article class="creation">
      <picture>
        <source media="(min-width: 768px)" srcset="images/desktop/image-pocket-borealis.jpg">
        <img class="image" src="./images/mobile/image-pocket-borealis.jpg" alt="image of pocket borealis">
      </picture>

      <div class="text">
        <span class="creation__title">pocket</span>
        <span class="creation__title">borealis</span>
      </div>
    </article>
    <article class="creation">
      <picture>
        <source media="(min-width: 768px)" srcset="images/desktop/image-curiosity.jpg">
        <img class="image" src="./images/mobile/image-curiosity.jpg" alt="image of curiosity">
      </picture>

      <div class="text">
        <span class="creation__title">the</span>
        <span class="creation__title">curiosity</span>
      </div>
    </article>
    <article class="creation">
      <picture>
        <source media="(min-width: 768px)" srcset="images/desktop/image-fisheye.jpg">
        <img class="image" src="./images/mobile/image-fisheye.jpg" alt="image of fisheye">
      </picture>

      <div class="text">
        <span class="creation__title">make it</span>
        <span class="creation__title">fisheye</span>
      </div>
    </article>

</section>