<footer class="footer">
  <div class="footer-container">
    <nav class="navigation">
      <svg class="icon logo">
        <use xlink:href="/images/sprite.svg#logo"></use>
      </svg>
      <ul class="navigation__list display">
        <li class="list-item"><a href="#">About</a></li>
        <li class="list-item"><a href="#">Careers</a></li>
        <li class="list-item"><a href="#">Events</a></li>
        <li class="list-item"><a href="#">Products</a></li>
        <li class="list-item"><a href="#">Support</a></li>
      </ul>
    </nav>
    <div class="social">
      <div class="icons">
        <div class="icon-container">
          <svg class="icon">
            <use xlink:href="/images/sprite.svg#icon-facebook"></use>
          </svg>
        </div>
        <div class="icon-container">
          <svg class="icon">
            <use xlink:href="/images/sprite.svg#icon-twitter"></use>
          </svg>
        </div>
        <div class="icon-container">
          <svg class="icon">
            <use xlink:href="/images/sprite.svg#icon-pinterest"></use>
          </svg>
        </div>
        <div class="icon-container">
          <svg class="icon">
            <use xlink:href="/images/sprite.svg#icon-instagram"></use>
          </svg>
        </div>
      </div>
      <p class="copyright">© 2021 Loopstudios. All rights reserved</p>
    </div>
  </div>
</footer>