<section class="vr">
  <picture class="vr__head">
    <source media="(min-width: 768px)" srcset="images/desktop/image-interactive.jpg">
    <img class="image" src="./images/mobile/image-interactive.jpg" alt="image of vr">
  </picture>
  <div class="vr__body">
    <h2 class="vr__heading">
      The leader in interactive VR
    </h2>
    <p class="vr__text">
      Founded in 2011, Loopstudios has been producing world-class virtual reality
      projects for some of the best companies around the globe. Our award-winning
      creations have transformed businesses through digital experiences that bind
      to their brand.
    </p>
  </div>

</section>